[Desktop Entry]
Version=1.0
Name=Python Alarm Clock
Comment=Schedule your tasks

Exec=python /usr/bin/pyalarm.py
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
Icon=/usr/share/pyalarm/icons/pyalarm.svg
StartupNotify=false
