[Desktop Entry]
Name=Python Alarm Clock
Comment=Schedule your tasks

Exec=python /usr/bin/pytalarm.py
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
Icon=/usr/share/pytalarm/icons/pytalarm.svg
StartupNotify=false
